@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FindWorkRazor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FindWorkRazor.styles.css" asp-append-version="true" />

    <environment include="Development">
        <!-- Essential Studio for JavaScript  theme reference -->
        <link rel="stylesheet" href="//cdn.syncfusion.com/17.1.0.38/js/web/flat-azure/ej.web.all.min.css" />
        <!-- Essential Studio for JavaScript  script references -->
        <script src="//cdn.syncfusion.com/js/assets/external/jsrender.min.js"></script>
        <script src="//cdn.syncfusion.com/17.1.0.38/js/web/ej.web.all.min.js"></script>

    </environment>
</head>
<body>
    <ej-script-manager></ej-script-manager>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
