body {
}


.red {
    position: absolute;
    background-color: #E05B49;
    width: 1920px;
    height: 538px;
    left: 0px;
    top: 1px;
}

.siten {
    position: absolute;
    width: 199.79px;
    height: 33.9px;
    left: 100.48px;
    top: 34px;
    color: white;
    border-radius: 407.177px;
}